= simple_nested_form_for @task, :html => {:multipart => true, :class => 'form-horizontal' } do |f|
  = f.input :title, :input_html => {:class => "span4"}
  = f.input :description, :input_html => {:class => "span4", :rows => 4}
  = f.association :contact, collection: current_user.company.contacts.order(:last_name).tagged_with("Client"), prompt: "Assign to a Client"
  = f.hidden_field :user_id, :value => current_user.id
  = f.association :mission, collection: current_user.missions.find_all_by_completed(:false), prompt: "Assign to a Mission"
  = f.input :completed
  = f.input :due_at
  = f.simple_fields_for :documents do |document_form|
    .well.well-large
      = document_form.input :title
      - unless document_form.object.new_record?
        = document_form.object.document_url
      = document_form.file_field :document if document_form.object.new_record?
      = document_form.link_to_remove "Remove this document", :class => 'btn btn-mini btn-danger'

  %p= f.link_to_add "Add a document", :documents, :class =>  "btn btn-mini btn-warning"
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tasks_path, :class => 'btn'
