%div{:style => "height: 300px !important;overflow: scroll;"}
  %table.table.table-striped.table-hover
    %tbody
      - @tasks.each do |task|
        %tr
          %td= link_to task.title + " - " + truncate(task.description, :length => 25), "#task" + task.id.to_s, "data-toggle" => "modal", :type => "button"
        %div{:id => "task" + task.id.to_s, :class => "modal", :style => "display:none;"}
          .modal-header
            = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
            %strong= "#{task.title}"
          .modal-body
            %strong Description
            %p= task.description
          .modal-footer
            = link_to 'Show more', task_path(task), :class => 'btn btn-success'
            = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"