.page-header
  %h3
    %i.icon-road
    = "Runway"
  =# link_to "Sign in with Google", "/auth/google_oauth2"
.row-fluid
  .span2
    %h4 
      %i.icon-user
      Clients
    = render :partial => 'client_quick_index'
  .span3
    %h4 
      %i.icon-plane
      Missions
      = link_to "<i class='icon-plus'></i>".html_safe, new_mission_path, :class => 'btn btn-mini btn-success pull-right'
    = render :partial => 'mission_quick_index'
  .span3
    %h4
      %i.icon-tasks
      Tasks
      = link_to "<i class='icon-plus'></i>".html_safe, new_task_path, :class => 'btn btn-mini btn-success pull-right'
    = render :partial => 'task_quick_index'
  .span4
    %h4 
      %i.icon-calendar
      Events
  
  
    - if false
      .span3
        %h4
          %i.icon-ok-sign
          To Do
          = link_to "<i class='icon-plus'></i>".html_safe, new_todo_path, id: "new_link", remote: true,:class => 'btn btn-mini btn-success pull-right'
        %table.table.table-striped{:id => 'todo_table'}
          %tbody
            - @todos.order(:completed).each do |todo|
              %tr{:id => "todo_#{todo.id}"}
                %td= best_in_place todo, :completed, type: :checkbox, :classes => 'strike_if_completed', :collection => ["<i class='icon-check-empty'></i>".html_safe, "<i class='icon-check'></i>".html_safe]
                %td{:class => todo.completed? ? "strikethrough muted" : ""}= best_in_place todo, :title
                %td
                  = link_to "<i class='icon-ellipsis-horizontal'></i>".html_safe, "#todo" + todo.id.to_s, "data-toggle" => "modal", :class => 'btn btn-mini'
                  = link_to "<i class='icon-remove'></i>".html_safe, todo_path(todo), :remote => true, :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure you want to completely delete this item?')) }, :class => 'btn btn-mini btn-danger'
              %div{:id => "todo" + todo.id.to_s, :class => "modal", :style => "display:none;"}
                .modal-header
                  = link_to "×", '#', :class => "close", "data-dismiss" => "modal"
                  %strong= "#{todo.title}"
                  %p= todo.created_at.strftime("%-m.%-d.%y")
                .modal-body
                  %p= todo.description
                  %p= todo.completed? ? 'Completed' : 'Not Completed'
                .modal-footer
                  = link_to 'Show more', todo_path(todo), :class => 'btn btn-success'
                  = link_to 'Close', '#', :class => 'btn', "data-dismiss" => "modal"
    

