%h4
  %i.icon-user
  = @contact.name
%p
  - unless @contact.email.blank?
    = mail_to @contact.email
  - unless @contact.email_2.blank?
    = mail_to @contact.email_2
  - unless @contact.email_3.blank?
    = mail_to @contact.email_3
  - unless @contact.pretty_home_address.nil?
    %p
      %strong Home Address
      %br
      = @contact.pretty_home_address
  - unless @contact.pretty_business_address.nil?
    %p
      %strong Business Address
      %br
      = @contact.pretty_business_address
  - unless @contact.pretty_other_address.nil?
    %p
      %strong Other Address
      %br
      = @contact.pretty_other_address
  - unless @contact.home_phone.blank?
    %p
      %strong Home
      = @contact.home_phone
  - unless @contact.mobile_phone.blank?
    %p
      %strong Mobile
      = @contact.mobile_phone
  - unless @contact.business_phone.blank?
    %p
      %strong Business
      = @contact.business_phone
  - unless @contact.home_fax.blank?
    %p
      %strong Home Fax
      = @contact.home_fax
  - unless @contact.business_fax.blank?
    %p
      %strong Business Fax
      = @contact.business_fax
%p= link_to_function 'More Details <i class="icon-chevron-down"></i>'.html_safe, "$('#client_details').show(); $('#show_client_details').hide();", :id => 'show_client_details', :class => 'btn btn-small'


%div{:id => "client_details", :style => 'display:none'}
  %p= link_to_function 'Less Details <i class="icon-chevron-up"></i>'.html_safe, "$('#show_client_details').show(); $('#client_details').hide();", :class => 'btn btn-small'
  - unless @contact.birthday.blank?
    %p
      %strong Age
      = @contact.birthday_age
    %p
      %strong Birthday
      = @contact.birthday.strftime("%b %-d %Y")
  - unless @contact.anniversary.blank?
    %p
      %strong Years as Client
      = @contact.years_as_client
  - unless @contact.spouse.blank?
    %p
      %strong Spouse
      = @contact.spouse
  - unless @contact.children.blank?
    %p
      %strong Children
      = @contact.children
  %p
    %strong= "Tags" + ':'
    %br
    = @contact.tag_list
  - unless @contact.notes.blank?
    %p
      %strong Notes
      = simple_format(@contact.notes)
