= simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|
  = f.input :tag_list
  = f.input :title
  = f.input :first_name
  = f.input :middle_name
  = f.input :last_name
  = f.input :suffix
  = f.input :company
  = f.input :department
  = f.input :job_title
  = f.input :business_street
  = f.input :business_street_2
  = f.input :business_street_3
  = f.input :business_city
  = f.input :business_state
  = f.input :business_postal_code
  = f.input :home_street
  = f.input :home_street_2
  = f.input :home_street_3
  = f.input :home_city
  = f.input :home_state
  = f.input :home_postal_code
  = f.input :other_street
  = f.input :other_street_2
  = f.input :other_street_3
  = f.input :other_city
  = f.input :other_state
  = f.input :other_postal_code
  = f.input :assistant_phone
  = f.input :business_fax
  = f.input :business_phone
  = f.input :business_phone_2
  = f.input :home_fax
  = f.input :home_phone
  = f.input :home_phone_2
  = f.input :mobile_phone
  = f.input :other_fax
  = f.input :other_phone
  = f.input :primary_phone
  = f.input :anniversary
  = f.input :assistant_name
  = f.input :billing_information
  = f.input :birthday
  = f.input :business_address_po_box
  = f.input :categories
  = f.input :children
  = f.input :email
  = f.input :email_display_name
  = f.input :email_2
  = f.input :email_2_display_name
  = f.input :email_3
  = f.input :email_3_display_name
  = f.input :notes
  = f.input :spouse
  = f.input :webpage
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'
