= simple_form_for @contact, :html => { :class => 'form-horizontal' } do |f|

  %table
    %tr
      %td= f.input :tag_list
    %tr
      %td= f.input :title, :placeholder => "Title", :label => "Title", :input_html => {:class => 'input-medium'}
      %td= f.input :first_name, :placeholder => "First Name", :label => "First Name", :input_html => {:class => 'input-medium'}
      %td= f.input :middle_name, :placeholder => "Middle Name", :label => "Middle Name", :input_html => {:class => 'input-medium'}
      %td= f.input :last_name, :placeholder => "Last Name", :label => "Last Name", :input_html => {:class => 'input-medium'}
      %td= f.input :suffix, :placeholder => "Suffix", :label => "Suffix", :input_html => {:class => 'input-medium'}
    %tr
      %td= f.input :company, :placeholder => "Company", :label => "Company", :input_html => {:class => 'input-medium'}
      %td= f.input :department, :placeholder => "Department", :label => "Department", :input_html => {:class => 'input-medium'}
      %td= f.input :job_title, :placeholder => "Job Title", :label => "Job Title", :input_html => {:class => 'input-medium'}
    %tr
      %td= f.input :address, :placeholder => "Customer's Address", :label => "Address", :input_html => {rows: 4, :class => 'input-medium'}
      %td= f.input :email, :placeholder => "Email", :label => "Email", :input_html => {:class => 'input-medium'}
    %tr
      %td= f.input :ssn, :placeholder => "Social Security Number", :label => "SSN", :input_html => {:class => 'ssn input-medium'}
      %td= f.input :dln, :placeholder => "Driver's License Number", :label => "License #", :input_html => {:class => 'input-medium'}

    %tr
      %td= f.input :phone, :placeholder => "Home Phone", :label => "Home", :input_html => {:class => 'phone input-medium'}
      %td= f.input :cell, :placeholder => "Cell Phone", :label => "Cell", :input_html => {:class => 'phone input-medium'}

  = f.input :business_street
  = f.input :business_street_2
  = f.input :business_street_3
  = f.input :business_city
  = f.input :business_state
  = f.input :business_postal_code
  = f.input :home_street
  = f.input :home_street_2
  = f.input :home_street_3
  = f.input :home_city
  = f.input :home_state
  = f.input :home_postal_code
  = f.input :other_street
  = f.input :other_street_2
  = f.input :other_street_3
  = f.input :other_city
  = f.input :other_state
  = f.input :other_postal_code
  = f.input :assistant_phone
  = f.input :business_fax
  = f.input :business_phone
  = f.input :business_phone_2
  = f.input :home_fax
  = f.input :home_phone
  = f.input :home_phone_2
  = f.input :mobile_phone
  = f.input :other_fax
  = f.input :other_phone
  = f.input :primary_phone
  = f.input :anniversary
  = f.input :assistant_name
  = f.input :billing_information
  = f.input :birthday
  = f.input :business_address_po_box
  = f.input :categories
  = f.input :children
  = f.input :email
  = f.input :email_display_name
  = f.input :email_2
  = f.input :email_2_display_name
  = f.input :email_3
  = f.input :email_3_display_name
  = f.input :notes
  = f.input :spouse
  = f.input :webpage
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), contacts_path, :class => 'btn'
