- model_class = Contact
.row-fluid
  .span3
    .well.sidebar-nav
      - if @contact.tagged_with("Client")
        %h4
          %i.icon-user
          = @contact.name
        %p= link_to_function 'More Details <i class="icon-chevron-down"></i>'.html_safe, "$('#client_details').show(); $(this).hide();", :id => 'show_client_details', :class => 'btn btn-small'
        #client_details{:style => 'display:none'}
          %p= link_to_function 'Less Details <i class="icon-chevron-up"></i>'.html_safe, "$('#show_client_details').show(); $(client_details).hide();", :class => 'btn btn-small'
          %p
            - unless @contact.email.blank?
              = mail_to @contact.email
            - unless @contact.email_2.blank?
              = mail_to @contact.email_2
            - unless @contact.email_3.blank?
              = mail_to @contact.email_3
          - unless @contact.pretty_home_address.nil?
            %strong Home Address
            %p= @contact.pretty_home_address
          - unless @contact.pretty_business_address.nil?
            %strong Business Address
            %p= @contact.pretty_business_address
          - unless @contact.pretty_other_address.nil?
            %strong Other Address
            %p= @contact.pretty_other_address
          - unless @contact.home_phone.blank?
            %p
              %strong Home
              = @contact.home_phone
          - unless @contact.mobile_phone.blank?
            %p
              %strong Mobile
              = @contact.mobile_phone
          - unless @contact.business_phone.blank?
            %p
              %strong Business
              = @contact.business_phone
          - unless @contact.home_fax.blank?
            %p
              %strong Home Fax
              = @contact.home_fax
          - unless @contact.business_fax.blank?
            %p
              %strong Business Fax
              = @contact.business_fax
          %p
            %strong Age
            = @contact.birthday_age
          %p
            %strong Birthday
            = @contact.birthday.strftime("%b %-d %Y")
          %p
            %strong Years as Client
            = @contact.years_as_client
          - unless @contact.spouse.blank?
            %p
              %strong Spouse
              = @contact.spouse
          - unless @contact.children.blank?
            %p
              %strong Children
              = @contact.children
          %p
            %strong= "Tags" + ':'
            %br
            = @contact.tag_list
          - unless @contact.notes.blank?
            %p
              %strong Notes
              = simple_format(@contact.notes)

  .span9
    .well
      .tabbable{}
        .btn-group
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#projects", :data => {:toggle => "tab"}}
                %button.btn
                  %strong
                    %i.icon-star-empty
                    Projects
            %li
              %a{:href => "#appointments", :data => {:toggle => "tab"}}
                %button.btn
                  %strong
                    %i.icon-calendar
                    Appointments
            %li
              %a{:href => "#tasks", :data => {:toggle => "tab"}}
                %button.btn
                  %strong
                    %i.icon-tasks
                    Tasks
            %li
              %a{:href => "#emails", :data => {:toggle => "tab"}}
                %button.btn
                  %strong
                    %i.icon-pencil
                    Emails
            %li
              %a{:href => "#documents", :data => {:toggle => "tab"}}
                %button.btn
                  %strong
                    %i.icon-file
                    Documents
      .tab-content{}
        .tab-pane.active{:id => "projects"}
          Projects
        .tab-pane{:id => "appointments"}
          Appointments
        .tab-pane{:id => "tasks"}
          Tasks
        .tab-pane{:id => "emails"}
          Emails
        .tab-pane{:id => "documents"}
          Documents
          %iframe{:allowscriptaccess => "always", :id => 'client_iframe', :allowFullScreen => "true", :frameborder => "0", :style => "margin-left: -231px; height: 1200px; margin-top: -314px; width: 926px;", :height => "430", :width => "640", :src => "https://glacierwealth.sharepoint.com/Client%20Documents/Forms/AllItems.aspx?RootFolder=%2FClient%20Documents%2FAllan%2C%20Jean%20and%20John&FolderCTID=0x01200085CE45CD61197743B2ADA7F3E7230301&View={6FF43817-46ED-4E34-B8D7-EF5102B55DDE}", :title => "Documents"}
%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @contact.title
%p
  %strong= model_class.human_attribute_name(:first_name) + ':'
  %br
  = @contact.first_name
%p
  %strong= model_class.human_attribute_name(:middle_name) + ':'
  %br
  = @contact.middle_name
%p
  %strong= model_class.human_attribute_name(:last_name) + ':'
  %br
  = @contact.last_name
%p
  %strong= model_class.human_attribute_name(:suffix) + ':'
  %br
  = @contact.suffix
%p
  %strong= model_class.human_attribute_name(:company) + ':'
  %br
  = @contact.company
%p
  %strong= model_class.human_attribute_name(:department) + ':'
  %br
  = @contact.department
%p
  %strong= model_class.human_attribute_name(:job_title) + ':'
  %br
  = @contact.job_title
%p
  %strong= model_class.human_attribute_name(:business_street) + ':'
  %br
  = @contact.business_street
%p
  %strong= model_class.human_attribute_name(:business_street_2) + ':'
  %br
  = @contact.business_street_2
%p
  %strong= model_class.human_attribute_name(:business_street_3) + ':'
  %br
  = @contact.business_street_3
%p
  %strong= model_class.human_attribute_name(:business_city) + ':'
  %br
  = @contact.business_city
%p
  %strong= model_class.human_attribute_name(:business_state) + ':'
  %br
  = @contact.business_state
%p
  %strong= model_class.human_attribute_name(:business_postal_code) + ':'
  %br
  = @contact.business_postal_code
%p
  %strong= model_class.human_attribute_name(:home_street) + ':'
  %br
  = @contact.home_street
%p
  %strong= model_class.human_attribute_name(:home_street_2) + ':'
  %br
  = @contact.home_street_2
%p
  %strong= model_class.human_attribute_name(:home_street_3) + ':'
  %br
  = @contact.home_street_3
%p
  %strong= model_class.human_attribute_name(:home_city) + ':'
  %br
  = @contact.home_city
%p
  %strong= model_class.human_attribute_name(:home_state) + ':'
  %br
  = @contact.home_state
%p
  %strong= model_class.human_attribute_name(:home_postal_code) + ':'
  %br
  = @contact.home_postal_code
%p
  %strong= model_class.human_attribute_name(:other_street) + ':'
  %br
  = @contact.other_street
%p
  %strong= model_class.human_attribute_name(:other_street_2) + ':'
  %br
  = @contact.other_street_2
%p
  %strong= model_class.human_attribute_name(:other_street_3) + ':'
  %br
  = @contact.other_street_3
%p
  %strong= model_class.human_attribute_name(:other_city) + ':'
  %br
  = @contact.other_city
%p
  %strong= model_class.human_attribute_name(:other_state) + ':'
  %br
  = @contact.other_state
%p
  %strong= model_class.human_attribute_name(:other_postal_code) + ':'
  %br
  = @contact.other_postal_code
%p
  %strong= model_class.human_attribute_name(:assistant_phone) + ':'
  %br
  = @contact.assistant_phone
%p
  %strong= model_class.human_attribute_name(:business_fax) + ':'
  %br
  = @contact.business_fax
%p
  %strong= model_class.human_attribute_name(:business_phone) + ':'
  %br
  = @contact.business_phone
%p
  %strong= model_class.human_attribute_name(:business_phone_2) + ':'
  %br
  = @contact.business_phone_2
%p
  %strong= model_class.human_attribute_name(:home_fax) + ':'
  %br
  = @contact.home_fax
%p
  %strong= model_class.human_attribute_name(:home_phone) + ':'
  %br
  = @contact.home_phone
%p
  %strong= model_class.human_attribute_name(:home_phone_2) + ':'
  %br
  = @contact.home_phone_2
%p
  %strong= model_class.human_attribute_name(:mobile_phone) + ':'
  %br
  = @contact.mobile_phone
%p
  %strong= model_class.human_attribute_name(:other_fax) + ':'
  %br
  = @contact.other_fax
%p
  %strong= model_class.human_attribute_name(:other_phone) + ':'
  %br
  = @contact.other_phone
%p
  %strong= model_class.human_attribute_name(:primary_phone) + ':'
  %br
  = @contact.primary_phone
%p
  %strong= model_class.human_attribute_name(:anniversary) + ':'
  %br
  = @contact.anniversary
%p
  %strong= model_class.human_attribute_name(:assistant_name) + ':'
  %br
  = @contact.assistant_name
%p
  %strong= model_class.human_attribute_name(:billing_information) + ':'
  %br
  = @contact.billing_information
%p
  %strong= model_class.human_attribute_name(:birthday) + ':'
  %br
  = @contact.birthday
%p
  %strong= model_class.human_attribute_name(:business_address_po_box) + ':'
  %br
  = @contact.business_address_po_box
%p
  %strong= model_class.human_attribute_name(:categories) + ':'
  %br
  = @contact.categories
%p
  %strong= model_class.human_attribute_name(:children) + ':'
  %br
  = @contact.children
%p
  %strong= model_class.human_attribute_name(:email) + ':'
  %br
  = @contact.email
%p
  %strong= model_class.human_attribute_name(:email_display_name) + ':'
  %br
  = @contact.email_display_name
%p
  %strong= model_class.human_attribute_name(:email_2) + ':'
  %br
  = @contact.email_2
%p
  %strong= model_class.human_attribute_name(:email_2_display_name) + ':'
  %br
  = @contact.email_2_display_name
%p
  %strong= model_class.human_attribute_name(:email_3) + ':'
  %br
  = @contact.email_3
%p
  %strong= model_class.human_attribute_name(:email_3_display_name) + ':'
  %br
  = @contact.email_3_display_name
%p
  %strong= model_class.human_attribute_name(:notes) + ':'
  %br
  = @contact.notes
%p
  %strong= model_class.human_attribute_name(:spouse) + ':'
  %br
  = @contact.spouse
%p
  %strong= model_class.human_attribute_name(:webpage) + ':'
  %br
  = @contact.webpage

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), contacts_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_contact_path(@contact), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), contact_path(@contact), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
