.row-fluid
  =# link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
  = link_to "Sign in with Google", "/auth/google_oauth2"
  .jumbotron
    .pagination-centered
      = image_tag("moose_logo_medium.png")
    %h2
      %i.icon-road
      IA Runway makes it easy to manage your IA business.
    %p.lead
      Get a tight handle on your Investment Advisor business. IA Runway does the work of organizing your data, all in the cloud.
      Store & search everything that is important to you and your clients.
    %a{:href => new_registration_path(resource_name), :class => "btn btn-large btn-warning"}
      Get started now

  .nav.nav-list
    %li.divider
  .container-narrow
    .row-fluid
      .jumbotron
        .span6
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Search"
              %i.icon-search
          %p Search everything, anytime, anywhere.

          %h4
            %a{:href => '#', :class => "text-error"}
              = "Contacts"
              %i.icon-user
          %p Save all contact data.

          %h4
            %a{:href => '#', :class => "text-error"}
              = "Tasks"
              %i.icon-tasks
          %p Create tasks.
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Calendar"
              %i.icon-calendar
          %p Get the bird's eye view of your schedule.
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Office in the Cloud"
              %i.icon-globe
          %p Make your office your laptop.

        .span6
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Projects"
              %i.icon-star-empty
          %p Stay laser focused on what needs attention
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Email & Text Notifications"
              %i.icon-envelope
          %p Be notified when you want, how you want.

          %h4
            %a{:href => '#', :class => "text-error"}
              = "Mobile Ready"
              %i.icon-signal
          %p Do it all from your mobile device.
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Safe & Secure"
              %i.icon-lock
          %p Secure Socket Layer keeps your data safe.
          %h4
            %a{:href => '#', :class => "text-error"}
              = "Documents"
              %i.icon-file
          %p File all your company and client documents.

        