- model_class = Todo
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:completed)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:mission_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @todos.each do |todo|
      %tr
        %td= link_to todo.id, todo_path(todo)
        %td= todo.title
        %td= todo.description
        %td= todo.completed
        %td= todo.user.name
        %td= todo.mission ? todo.mission.title : 'None'
        %td=l todo.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_todo_path(todo), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), todo_path(todo), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_todo_path, :class => 'btn btn-primary'
